body {
    background-color: #2c3e50;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 89vh;
    padding: 10px;
    background-color: #2c3e50;
    overflow-y: auto;
    position: relative;
}

.controls {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.language-dropdown, 
.logout-button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #456586;
    color: #ecf0f1;
    cursor: pointer;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: #c0392b;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 70%;
    color: #ecf0f1;
    font-size: 14px;
    line-height: 1.5;
}

.user-message {
    align-self: flex-end;
    background-color: #e74c3c;
}

.other-message {
    align-self: flex-start;
    background-color: #34495e;
}

.timestamp {
    font-size: 12px;
    color: #bdc3c7;
    margin-top: 5px;
}

.chat-message p {
    margin: 0;
}

.chat-username {
    font-weight: bold;
    color: #ecf0f1;
    margin-right: 5px;
    font-family: 'Arial', sans-serif;
}

.chat-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #34495e;
    color: #ecf0f1;
    font-size: 14px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 100px;
}

.chat-input::placeholder {
    color: #bdc3c7;
}

.send-chat-button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.send-chat-button:hover {
    background-color: #c0392b;
}
